.in-breadcrumb {
    padding: 12px 0 12px 0;
    h2 {
        margin-top: 5px;
    }
    .uk-text-small {
        margin-top: 0px;
        line-height: 26px;
    }
    .uk-breadcrumb {
        margin-bottom: -36px;
        padding: 3px 15px 0px 15px;
        background: #fff;
    }
}