.in-slide-container {
    .in-slideshow {
        border-radius: 10px;
        background-color: #f2f2f2;
        padding: 14px;
        .uk-light {
            h1,
            p {
                text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
            }
        }        
    }
    .uk-slideshow-items {
        background: #fff;
    }
    .uk-slideshow-items li .uk-text-lead {
        font-size: 22px;
        color: #808080;
    }
    .uk-slideshow-items li .uk-text-small {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #808080;
    }
    .uk-slidenav-container  {
        margin: 0 40px 20px 0;
    }
} 